@page "/"
@inject RhubarbAPIClient client
@inject Localisation loc

<div class='LoadingCube-container'>
    <div class='cube'>
        <div class='front'></div>
        <div class='back'></div>
        <div class='right'></div>
        <div class='left'></div>
        <div class='top'></div>
        <div class='bottom'></div>
    </div>
    <h6>
        Did You Know
    </h6>
    <p>
        @((MarkupString)randomText).
    </p>
</div>
<ul class="nav justify-content-center fixed-bottom" style="margin-bottom:50px">
    <li class="nav-item">
        <a class="nav-link" href="https://status.rhubarbvr.net/"><i class="bi bi-activity"></i><text>&nbsp;</text>Server Status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://rhubarbvr.net/"><i class="bi bi-globe"></i><text>&nbsp;</text>Website</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://discord.com/invite/GTQhxeq/"><i class="bi bi-discord"></i><text>&nbsp;</text>Discord</a>
    </li>
</ul>

@code
{

    string randomText = "Rhubarb has random LoadingFacts";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UpdateText();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        await Task.Delay(5000);
        UpdateText();
    }


    public void UpdateText()
    {
        var rText = RhubarbLoadingFacts.GetRandomFact();
        if (rText == randomText)
        {
            UpdateText();
        }
        else
        {
            randomText = rText;
            Console.WriteLine(randomText);
            StateHasChanged();
        }
    }
}